<!DOCTYPE html>
<html lang="en">

<%- partial('_partial/head') %>

<body>

    <%- partial('_partial/navigation', null, {cache: !config.relative_link}) %>
    <%- partial('_partial/header', null, {cache: !config.relative_link}) %>

    <!-- Main Content -->
    <div class="container"><%- body %></div>

    <hr>

    <%- partial('_partial/footer') %>

    <!-- jQuery -->
    <%- js('//cdn.jsdelivr.net/jquery/2.1.4/jquery.min.js') %>

    <!-- Bootstrap Core JavaScript -->
    <%- js('//cdn.jsdelivr.net/bootstrap/3.3.4/js/bootstrap.min.js') %>

    <!-- Custom Theme JavaScript -->
    <%- js('js/clean-blog.min.js') %>

</body>

</html>
